<div class="container-fluid p-0">
    <div class="spacer" style="height: 165px;"></div> <!-- Spacer to lower the footer -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-4 border-top w-100">
        <!-- Footer Brand -->
        <a href="/" class="col-md-3 d-flex align-items-center justify-content-start mb-3 mb-md-0 me-md-auto text-primary text-decoration-none fw-bold">
            RakshaSutraX Playbook
        </a>

        <!-- Navigation Links -->
        <ul class="nav col-md-6 justify-content-center">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-light">Home</a></li>
            <li class="nav-item"><a href="/dashboard/rakshaSutraPlaybook" class="nav-link px-2 text-light">Playbooks</a></li>
            <!-- <li class="nav-item"><a href="/resources" class="nav-link px-2 text-light">Resources</a></li> -->
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-light">About</a></li>
        </ul>

        <!-- Footer Information -->
        <div class="col-md-3 text-end text-light">
            <p class="mb-0">&copy; 2024 RakshaSutra Playbook</p>
            <p>Securing Your Digital World</p>
        </div>
    </footer>
</div>
