<div class="container-fluid container-fluid-custom pb-5 mb-5">

    <!-- Breadcrumb and Header Section -->
    <div class="row mb-4">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Add Playbook</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col d-flex justify-content-between align-items-center">
            <h1 class="h3 text-primary">Add Playbook</h1>
        </div>
    </div>

    <!-- Playbook Form -->
    <form action="/dashboard/add" method="POST" class="border rounded p-4 bg-light shadow-sm">
        <div class="form-group mb-4">
            <label for="title" class="form-label fw-bold">Playbook Title</label>
            <input type="text" class="form-control fs-5 border-primary" id="title" name="title" 
              
                placeholder=" Title (e.g., Ransomware Response)" required>
        </div>

        <div class="form-group mb-4">
            <label for="body" class="form-label fw-bold">Playbook Details</label>
            <textarea required class="form-control fs-6 border-primary" id="body" name="body" rows="10" 
                placeholder="Document the incident response process, including detection, containment, eradication, recovery, and lessons learned...">

            </textarea>
        </div>

        <div class="form-group text-end">
            <button type="submit" class="btn btn-primary btn-lg">+ Add Playbook</button>
        </div>
    </form>


</div>
